Django==5.1.7
dj-database-url==0.3.0
django-reversion==5.1.0
django-wsgiserver==0.8.0rc1
django-dtpanel-htmltidy==0.1.1
django-chosen-mega==0.1.6
django-appconf==1.0.3
django-confy==1.0.4
Django-Select2==8.2.1
django-select2-forms==3.0.0
django-pagination-py3==1.2.0
psycopg2-binary==2.9.9
python-dateutil==2.2
Pillow==11.1.0
django-downloadview==1.6
unicodecsv==0.14.1
Markdown==3.5.1
django2-markdown==0.8.6
django-crispy-forms==1.13.0
django-guardian==2.4.0
django-extensions==3.2.3
python-magic==0.4.27
Unidecode==0.4.18
django-model-utils==2.0.3
whitenoise==5.3.0
django-browserid==0.10.1
git+https://github.com/dbca-wa/dbca-utils.git@1.1.1#egg=dbca-utils
git+https://github.com/dbca-wa/wagov_utils.git#egg=wagov_utils
git+https://github.com/dbca-wa/django-media-serv.git#egg=django_media_serv
git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client
django-compressor==4.4
django-tastypie==0.14.7
pytz==2023.3
gunicorn==23.0.0
humanize==0.5.1
docutils==0.15.2
tzdata==2024.1
python-decouple==3.8
