{% extends "admin/base_site.html" %}

{% load prescription_tags %}

{% block content %}
<style>
.filter-form select,
.filter-form .form-select {
    width: auto !important;
}

#sorted-table td a {
    text-decoration: none;
}

#report-tabs,
#report-tabs .nav-link,
.filter-form,
.filter-form label,
#sorted-table,
#burns-table,
.table-compressed {
    font-size: 0.85rem;
}

.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background-color: #FFF;
}
</style>

{% if report == "summary" or report == "approvals" %}
<div class="float-end ms-3 mb-2">
  <table class="table table-compressed table-bordered table-striped">
    <tbody>
      <tr>
        <th colspan="2">Legend</th>
      </tr>
      <tr>
        <td>Required but not completed</td>
        <td><i class="fa-solid fa-triangle-exclamation text-danger"></i></td>
      </tr>
      {% if report == "summary" %}
      <tr>
        <td>Required and completed</td>
        <td><i class="fa-solid fa-check text-success"></i></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endif %}

<ul id="report-tabs" class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if report == "summary" %}active{% endif %}" href="{% url 'admin:endorse_authorise_summary' %}?report=summary">
            <i class="fa-solid fa-tag"></i>
            Endorsements
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if report == "approvals" %}active{% endif %}" href="{% url 'admin:endorse_authorise_summary' %}?report=approvals">
            <i class="fa-solid fa-plus"></i>
            Approvals
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if report == "ignitions" %}active{% endif %}" href="{% url 'admin:endorse_authorise_summary' %}?report=ignitions">
            <i class="fa-solid fa-fire"></i>
            Ignitions
        </a>
    </li>
</ul>

{% if report == "summary" or report == "approvals" %}
<div class="d-flex align-items-center gap-2 mt-2 mb-3 filter-form">
    <label for="id_region" class="mb-0">Region</label>
    <form class="d-flex align-items-center gap-2 filter-form">
        {{ form.region }}
        <label for="id_district" class="mb-0">District</label>
        {{ form.district }}
        <button type="submit" class="btn btn-primary btn-sm">Update</button>
        {% if report == "approvals" %}
            <input type="hidden" name="report" value="approvals">
        {% endif %}
    </form>
</div>
{% else %}
<div class="d-flex align-items-center gap-2 mt-2 mb-3 filter-form">
    <form class="d-flex align-items-center gap-2 filter-form">
        <label for="id_fromDate" class="mb-0 text-nowrap">From Date</label>
        <input type="text" id="id_fromDate" value="{{ fromDate|date:'d-m-Y' }}" name="fromDate" class="form-control form-control-sm"/>
        <label for="id_toDate" class="mb-0 text-nowrap">To Date</label>
        <input type="text" id="id_toDate" value="{{ toDate|date:'d-m-Y' }}" name="toDate" class="form-control form-control-sm"/>
        <button id="submit" class="btn btn-primary btn-sm">Update</button>
        <input type="hidden" name="report" value="ignitions">
    </form>
    <a id="id_href" href="" class="ms-auto">
        <button id="id_csv" class="btn btn-primary btn-sm">Export As CSV</button>
    </a>
</div>
{% endif %}

{% if report == "ignitions" %}
<table id="burns-table" class="table table-striped table-hover table-compressed">
  <thead>
    <tr>
      <th><div class="text-center">Region</div></th>
      <th><div class="text-center">Burns completed</div></th>
      <th><div class="text-center">Burns commenced</div></th>
      <th><div class="text-center">Burn area (ha)</div></th>
    </tr>
  </thead>
  <tbody>
    {% for burn in burns %}
    <tr>
      <td><div class="text-center">{{burn.0}}</div></td>
      <td><div class="text-center">{{burn.1}}</div></td>
      <td><div class="text-center">{{burn.2}}</div></td>
      <td><div class="text-center">{{burn.3}}</div></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="17">There are no burns 'commenced' or 'completed' in the date range specified.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if report == "summary" or report == "approvals" %}
<table id="sorted-table" class="table table-striped table-hover table-compressed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      {% if report == "approvals" %}
        <th><div class="text-center">District Manager</div></th>
        <th><div class="text-center">Regional Manager</div></th>
        <!--th><div class="text-center">FMS Branch Manager</div></th-->
      {% else %}
        <th>District Leader PVS</th>
        <th>Regional Leader PVS</th>
        <th>District Leader NC</th>
        <th>Regional Leader NC</th>
        <th>District Leader SFM</th>
        <th>Regional Leader SFM</th>
        <th>District Fire Coordinator</th>
        <th>Regional Fire Coordinator</th>
        <th>District Manager</th>
        <th>Regional Manager</th>
		<th>FMS Branch</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for prescription in prescriptions %}
    <tr>
      <td><a href="{% url 'admin:prescription_prescription_detail' prescription.id %}">{{ prescription.burn_id }}</a></td>
      <td>{{ prescription.name }}</td>
      {% if report == "approvals" %}
      <td>{% if prescription.maximum_risk == 'Low' %}<div class="text-center"><i class="fa-solid fa-triangle-exclamation text-danger"></i></div>{% endif %}</td>
      <td>{% if prescription.maximum_risk == 'Medium' %}<div class="text-center"><i class="fa-solid fa-triangle-exclamation text-danger"></i></div>{% endif %}</td>
      <td>{% if prescription.maximum_risk == 'High' %}<div class="text-center"><i class="fa-solid fa-triangle-exclamation text-danger"></i></div>{% endif %}</td>
      {% else %}
      <td>{% role_required prescription "District Program Leader - Parks and Visitor Services" %}</td>
      <td>{% role_required prescription "Regional Program Leader - Parks and Visitor Services" %}</td>
      <td>{% role_required prescription "District Program Leader - Nature Conservation" %}</td>
      <td>{% role_required prescription "Regional Program Leader - Nature Conservation" %}</td>
      <td>{% role_required prescription "District Program Leader - Sustainable Forest Management" %}</td>
      <td>{% role_required prescription "Regional Program Leader - Sustainable Forest Management" %}</td>
      <td>{% role_required prescription "District Fire Coordinator" %}</td>
      <td>{% role_required prescription "Regional Fire Coordinator" %}</td>
      <td>{% role_required prescription "District Manager" %}</td>
      <td>{% role_required prescription "Regional Manager" %}</td>
	  <td>{% role_required prescription "Fire Management Services Branch" %}</td>
      {% endif %}
    </tr>
    {% empty %}
    <tr>
      <td colspan="17">There are no burns requiring {% if report == "approvals" %}approval{% else %}endorsement{% endif %}.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<script>

$(function(){

    $("#sorted-table").tablesorter();
    $("#burns-table tr:contains('Total')").css("font-weight","bold");

    $("#id_fromDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
    $("#id_toDate").datepicker({ dateFormat: "dd-mm-yy" }).val();

    $("#id_toDate").change(function () {
      var fromDate = $("#id_fromDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      var toDate = $("#id_toDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      if ( ($.datepicker.parseDate('dd-mm-yy', fromDate)) >  $.datepicker.parseDate('dd-mm-yy', toDate))  {
        alert("'From Date' cannot be after 'To Date' ");
      }
    });

    $("#id_fromDate").change(function () {
      var fromDate = $("#id_fromDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      var toDate = $("#id_toDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      if ( ($.datepicker.parseDate('dd-mm-yy', fromDate)) >  $.datepicker.parseDate('dd-mm-yy', toDate))  {
        alert("'From Date' cannot be after 'To Date' ");
      }
    });

    $("#id_csv").click(function () {
      var fromDate = $("#id_fromDate").val();
      var toDate = $("#id_toDate").val();
      var urlStr = '?fromDate=' + fromDate + '&toDate=' + toDate + '&Export_CSV=export_csv'
      $("#id_href").attr("href", urlStr);
    });

});

</script>
{% endblock %}
