{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% if not is_popup %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a></li>
  <li class="breadcrumb-item">Add Potential Source of Risk</li>
</ol>
{% endblock %}
{% endif %}

{% block content_title %}
<h1>{{ title }}</h1>
{% endblock %}
