{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'admin:prescription_prescription_day_summary' current.id %}">Part B</a></li>
  <li class="breadcrumb-item"><a href="{% url 'admin:implementation_lightingsequence_changelist' current.id %}">Section B5 &#x2010; Lighting sequence</a></li>
  <li class="breadcrumb-item">Add lighting sequence</li>
</ol>
{% endblock %}

{% block content_title %}
{% load risk_tags %}
{% show_treatments "Lighting Plan" %}
<h1>Lighting Sequence</h1>
{% endblock %}
