{% extends "admin/change_list.html" %}
{% load i18n static admin_list %}
{% load multiselect_extras %}

{% block extrahead %}
{{ block.super }}
<style>
/* Filter dropdown buttons */
.filter-dropdown-wrapper .dropdown-menu {
  min-width: 180px;
  max-height: 280px;
  overflow-y: auto;
}
.filter-dropdown-wrapper .dropdown-item {
  font-size: 12px;
  padding: 3px 10px;
  cursor: pointer;
  white-space: nowrap;
}
</style>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block content_title %}
<div class="d-flex align-items-center justify-content-between mb-2">
  <h1 class="mb-0">Regional Overview</h1>
  <button id="toggletools" type="button" class="btn btn-success btn-sm">
      Show Filter and Column tools
  </button>
</div>
{% endblock %}

{% block contentclass %}col-12{% endblock %}

{% block filters %}
{% comment %}
Note that we add the hide class to this div in order to prevent unsightly 'popping' of the filter
list when it is altered by the JS below.
{% endcomment %}
{% if cl.has_filters %}
<div class="col-3 d-none">
  <ul class="nav nav-list">
      {% for spec in cl.filter_specs %}
        {% admin_list_filter cl spec %}
      {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
{# object-tools block should be empty (i.e. no "Create prescribed fire plan" button) #}
{% block object-tools %}{% endblock %}

<div class="row toggletools d-none mb-3">
    <div class="col-12">
        <div class="alert alert-info">
            <strong>Filter</strong>
            <div class="row">
                <div class="filter-tools col-12">
                    <form id="id_form_filtering" action="/prescription/prescription/" method="post">
                        {% csrf_token %}
                        <div class="d-flex align-items-start">
                            <div class="d-flex flex-wrap gap-1 align-items-center flex-grow-1">
                                {% multiselect_form %}
                                <div class="search-tools d-none"></div>
                            </div>
                            <div class="ms-2 flex-shrink-0">
                                <input type="submit"
                                       class="btn btn-success btn-sm"
                                       value="Update selection">
                            </div>
                        </div>
                    </form >
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="alert alert-info">
            <strong>Show/Hide Columns</strong>
            <div class="column-tools d-flex flex-wrap gap-1" style="white-space:normal;">
                <button id="template-button" class="btn btn-sm btn-info d-none">template-button</button>
            </div>
        </div>
    </div>
    <div class="col-12 d-none">
        <a id="id_filter_url" class="btn btn-success btn-block" href="">Update selection</a>
        <br />
    </div>
</div>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/URI.js/1.16.1/URI.min.js"></script>
<!-- The visibility-tools script will bring a Vis object into scope -->
<script src="{% static 'pbs/js/visibility-tools.js' %}"></script>
<script>
$(document).ready(function($) {
    // Build Bootstrap 5 dropdown buttons for multiselect filter dropdowns
    var choicesInitialized = false;
    var urlQs = URI(document.URL).query(true);
    function initChoices() {
        if (choicesInitialized) return;
        choicesInitialized = true;
        $('.changelist-multiselect').each(function() {
            var $select = $(this);
            var title = $select.attr('title');
            var fieldId = $select.attr('id');

            // Determine pre-selected values from current URL query string
            var preSelected = [];
            if (fieldId === 'contentious' || fieldId === 'aircraft_burn') {
                if (urlQs[fieldId]) preSelected = [urlQs[fieldId]];
            } else if (fieldId === 'financial_year') {
                if (urlQs['financial_year']) preSelected = [urlQs['financial_year']];
            } else {
                var inKey = fieldId + '__in';
                if (urlQs[inKey]) preSelected = urlQs[inKey].split(',');
            }

            var $wrapper = $('<div class="d-inline-block filter-dropdown-wrapper"></div>');
            var $btn = $('<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"></button>').text(title);
            var $menu = $('<ul class="dropdown-menu p-1"></ul>');
            $select.find('option').each(function() {
                var val = $(this).val();
                if (!val) return;
                var label = $(this).text().trim();
                var isChecked = preSelected.indexOf(val) > -1;
                if (isChecked) $(this).prop('selected', true);
                var $cb = $('<input type="checkbox" class="form-check-input me-1">').val(val).prop('checked', isChecked);
                var $lbl = $('<label class="dropdown-item rounded"></label>').append($cb).append(label);
                $('<li></li>').append($lbl).appendTo($menu);
            });
            $wrapper.append($btn).append($menu);
            $select.after($wrapper).hide();
            // Highlight button if any values are pre-selected from URL
            if (preSelected.length > 0) {
                $btn.removeClass('btn-outline-secondary').addClass('btn-primary');
            }
            $menu.find('input[type=checkbox]').on('change', function() {
                var selected = $menu.find('input:checked').map(function() { return $(this).val(); }).get();
                $select.find('option').prop('selected', false);
                selected.forEach(function(v) { $select.find('option[value="'+v+'"]').prop('selected', true); });
                $btn.toggleClass('btn-primary', selected.length > 0)
                    .toggleClass('btn-outline-secondary', selected.length === 0);
                updateFilterUrl(buildSearchQs());
            });
        });
    }

    window.hidden_columns = JSON.parse(localStorage.getItem("regional_summary_hidden_columns")) ||
                            ["contentious", "approval_expiry", "aircraft_burn", "allocation",
                             "status", "prescribing_officer_name", "remote_sensing_priority",
                             "date_modified_local", "contingencies_migrated","_non_calm_tenure","_non_calm_tenure_approved"];
    var untoggleable_columns = ["action-checkbox-column", "burn_id", "name", "region", "district"];
    localStorage.setItem("regional_summary_hidden_columns", JSON.stringify(hidden_columns));
    var column_button = $("button#template-button");

    var tools = $("div.toggletools");
    var toolsButton = $("button#toggletools");
    var visKey = "toolsVisible";
    var myStore = localStorage;
    var toolsVisible = Vis.getToolsVisibility(myStore, visKey);
    if (toolsVisible === "true") {
        Vis.ensureToolsVisible(tools, toolsButton, myStore, visKey);
    } else {
        Vis.ensureToolsHidden(tools, toolsButton, myStore, visKey);
    }


    $("table#result_list thead").find("th").each(function() {
        var newbutton = column_button.clone();
        var name = ($(this).find("a").length)? $(this).find("a").text():$(this).text();
        var cclass = $(this).attr("class");
        if (cclass) {
            // Note that the line below fails on an empty query result.
            var cclass = cclass.split("column-")[1] || cclass.split(" ")[1];
            cclass = cclass.split(" ")[0]
        } else {
            // Hide the table if it's empty (columns have no id's)
            $('table#result_list thead').addClass('d-none');
            return false;
        }
        if ($.inArray(cclass, untoggleable_columns) > -1) {
            return true;
        }
        var cid = "toggle-" + cclass;
        newbutton.attr("id", cid);
        newbutton.attr("data-cclass", cclass);
        newbutton.text(name);
        if ($.inArray(cclass, hidden_columns) > -1) {
            var index = $("th.column-" + cclass).index() + 1;
            $('table#result_list td:nth-child('+index+'),th:nth-child('+index+')').addClass("d-none");
            newbutton.removeClass("btn-info").addClass("btn-outline-secondary");
        }
        newbutton.removeClass("d-none");
        $("div.column-tools").append(newbutton);

    });
    $("div.column-tools button").on("click", function(evt) {
        var button = $(evt.target)
        var index = $("th.column-" + button.attr("data-cclass")).index() + 1;
        if (button.hasClass("btn-info")) {
            $('table#result_list td:nth-child('+index+'),th:nth-child('+index+')').addClass("d-none");
            button.removeClass("btn-info").addClass("btn-outline-secondary");
            hidden_columns.push(button.attr("id").slice(7));
        } else {
            $('table#result_list td:nth-child('+index+'),th:nth-child('+index+')').removeClass("d-none");
            button.removeClass("btn-outline-secondary").addClass("btn-info");
            hidden_columns = $.grep(hidden_columns, function(value) {return button.attr("id").search(value) != 7});
        }
        localStorage.setItem("regional_summary_hidden_columns", JSON.stringify(hidden_columns));
        Vis.setToolsVisibility(myStore, visKey, toolsVisible);
    })
    $("div.search-tools").append($("div#toolbar form").css({"margin": 0}));

    // upgrade django's filters into more compact dropdowns
    //var filters = $("div.col-3 ul.nav-list").parents("div.col-3").addClass("d-none");
    var filters = $("div.col-3 ul.nav-list");
    var templateFilterDropdown = $("#template-filter-dropdown");
    var filterDiv = $("div.filter-tools");
    filters.find("li.nav-header").each(function() {
        var dropdown = templateFilterDropdown.clone()
        dropdown.find("ul").append($(this).nextUntil("li.nav-header"));
        var buttonText = $(this).text()
        buttonText = buttonText.slice(3);
        buttonText = buttonText.charAt(0).toUpperCase() + buttonText.slice(1);
        var button = dropdown.find("a.btn").prepend(buttonText);
        if (dropdown.find("li.active").text().slice(1) != "All") {
            button.addClass("btn-success");
        }
        filterDiv.append(dropdown);
        dropdown.removeClass("d-none");
    });

    {% if request.user.profile.region %}
    var myRegion = filterDiv.find("a:contains(Region)")
                            .siblings("ul")
                            .find("li:contains({{ request.user.profile.region }})")
                            .clone()
    var button = myRegion.find("a")
                            .clone()
                            .addClass("btn btn-sm")
                            .prepend("My Region (")
                            .append(")");
    if(myRegion.hasClass("active")) {
        button.addClass("btn-success");
    } else {
        button.addClass("btn-inverse")
    }
    filterDiv.prepend(button);
    {% endif %}

    $("#tablemask").removeClass("d-none");
    toolsButton.click(function() {
        if (tools.hasClass("d-none")) {
            tools.removeClass("d-none").hide().slideDown(300);
            toolsButton.text("Hide Filter and Column tools");
            Vis.setToolsVisibility(myStore, visKey, true);
            initChoices();
        } else {
            tools.slideUp(300, function() {
                tools.addClass("d-none");
            });
            toolsButton.text("Show Filter and Column tools");
            Vis.setToolsVisibility(myStore, visKey, false);
        }
    });
    // If panel is already visible on load, init Choices.js immediately
    if (!tools.hasClass("d-none")) {
        initChoices();
    }
    if ($('table#result_list thead').hasClass('d-none')) {
        toolsButton.click();
    }

    // ---------------------------------------------------------
    // Hacky filter/column sort solution follows
    // ---------------------------------------------------------
    // First, hide the form submit and prevent it being submitted.
    $("form#id_form_filtering").submit(function(evt) {
        evt.preventDefault();
    });
    $("input.btn:submit").hide();
    // Insert the new filter button in its place.
    $("a#id_filter_url").insertAfter($("input.btn:submit")).removeClass("d-none").addClass("btn-sm");

    var base_url = "{% url 'admin:prescription_prescription_changelist' %}"

    // Helper: build a search query object from all multiselect values
    var buildSearchQs = function() {
        var urlQs = URI(document.URL).query(true);
        var searchQs = {};
        // Preserve sort order if present in URL
        if ('o' in urlQs) searchQs['o'] = urlQs['o'];
        $('select.changelist-multiselect').each(function() {
            var key = this.id;
            var values = $(this).val() || [];
            if (values.length === 0) return;
            switch(key) {
                // SPECIAL CASE - boolean fields: use only the first selected value.
                case "contentious":
                case "aircraft_burn":
                    searchQs[key] = values[0];
                    break;
                default:
                    searchQs[key + "__in"] = values.join(',');
            }
        });
        return searchQs;
    };

    // Update filter URL whenever a multiselect value changes
    $('select.changelist-multiselect').on('change', function() {
        updateFilterUrl(buildSearchQs());
    });

    // Function to replace the target URL with the base_url plus query parameters.
    var updateFilterUrl = function(qs) {
        $("a#id_filter_url").attr("href", URI(base_url).addSearch(qs));
    }

    // ---------------------------------------------------------
    // Hacky filter/column sort solution ends
    // ---------------------------------------------------------
    $("td.column-status:contains('Burn Closed')").parent().addClass('burn-completed');
    $("td.column-status:contains('Burn Closed')").siblings().children('a').css({color:'darkgray'})
});
</script>
<div id="tablemask" class="d-none row">
<div class="col-12">
    {{ block.super }}
</div>
</div>
{% endblock %}

{% comment %}
Legacy footer behavior (kept for reference, intentionally disabled):

{% block footer %}
{{ block.super }}
<script>
    $(function() {
        $("div.actions span.all").hide();
        $("div.actions span.question").hide();
        $("div.actions span.clear").hide();
    });
</script>
{% endblock %}

Reason disabled: modern Django admin actions.js toggles visibility using the
"hidden" class. Forcing jQuery .hide() here prevents "Select all N ..." from appearing.
{% endcomment %}
