{% extends "admin/base_site.html" %}
{% load i18n %}
{% load admin_urls %}

{% block breadcrumbs %}
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'admin:prescription_prescription_endorse' current.id %}">Endorse this ePFP</a></li>
<li class="breadcrumb-item">{% trans 'Delete endorsement' %}</li>
</ol>
{% endblock %}

{% block content %}
<p>Are you sure you wish to delete the endorsement for the role "{{ endorsement.role }}"? This will make the endorsement available to be endorsed again by another user.</p>
<h4>Endorsement details</h4>
<table class="table">
  <tbody>
    <tr>
      <th>Role</th>
      <td>{{ endorsement.role }}</td>
    </tr>
    <tr>
      <th>Reviewer</th>
      <td>{% firstof endorsement.creator.get_full_name endorsement.creator %}</td>
    </tr>
    <tr>
      <th>Reviewed on</th>
      <td>{{ endorsement.created|date }}</td>
    </tr>
  </tbody>
</table>
    <form action="" method="post">{% csrf_token %}
    <div class="form-actions">
    <input type="hidden" name="post" value="yes" />
    <input type="submit" class="btn btn-danger" value="{% trans "Yes, I'm sure" %}" />
    <a id="id_cancel_button" href="javascript: history.go(-1)" class="btn btn-secondary">Cancel</a>
    </div>
    </form>
{% endblock %}
