{% extends "admin/change_list.html" %}
{% load i18n static admin_list %}

{% block extrahead %}
{{ block.super }}
  <script src="{% static 'pbs/js/auto-resize-text-input.js' %}"></script>
  <script>
  $(function() {
    $('table#result_list').on("keyup", "input[id$=name]", function() {
        $(this).keyup(resizeInput).each(resizeInput);
    });
    $('input[id$=name]').keyup();
  });

  // The Public Contact section is always editable, even after a burn is approved/closed.
  (function($) {
    $(function() {
      $("#result_list tbody tr").tabularFormset(this, {
        prefix: "{{ cl.formset.prefix }}",
        adminStaticPrefix: '{% static "admin/" %}',
        addText: '<i class="fa-solid fa-plus"></i> Add another public contact'
      });
    });
  })(django.jQuery);
  </script>
{% endblock %}

{% block object-tools-items %}
<a value="Section D2 &#x2010; Public Contacts" class="btn-sm btn" href="{{ download_pdf }}?template=sectiond2"><i class="fa-solid fa-print"></i> Download</a>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a></li>
  <li class="breadcrumb-item">Section D2 &#x2010; Public Contacts</li>
</ol>
{% endblock %}

{% block content_title %}
<h1>Public Contacts</h1>

{% endblock %}
